.table-hero {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 16px;
  }
  
  .td-hero, .th-hero {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
  }
  
  .tr-hero:nth-child(even) {
    background-color: #dddddd;
  }